.movies-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 270px));
  gap: 38px 20px;
  padding: 0;
  justify-content: center;
}

.movies__list {
  margin: 70px 0 0;
}

.saved-movies__list {
  margin: 70px 0 0;
}

@media screen and (max-width: 768px){
  .movies-list {
    grid-template-columns: repeat(auto-fill, minmax(339px, 339px));
    gap: 30px;
  }
}

@media screen and (max-width: 500px){
  .movies-list {
    grid-template-columns: minmax(300px, 300px);
    row-gap: 34px;
  }

  .movies__list {
    margin-top: 40px;
  }

  .saved-movies__list {
    margin-top: 40px;
  }
}

