.card {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
}

.card__photo {
  height: 151px;
  width: 270px;
  object-fit: cover;
}

.card__photo:hover {
  opacity: .7;
  cursor: pointer;
}

.card__container {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
  min-height: 32px;
}

.card__title {
  max-width: 226px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
  text-align: start;
}

.card__like {
  background-image: url("../../images/like-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color:  #313131;
  width: 24px;
  height: 24px;
  border-radius: 36px;
  border: none;
  outline: none;
  padding: 0;
}

.card__like:hover {
  opacity: .7;
  cursor: pointer;
}

.card__duration {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  color: #8B8B8B;
  padding-top: 6px;
  margin: 0;
  border-top: 1px solid #424242;
}

.card__liked {
  background-image: url("../../images/liked-button.svg");
}

@media screen and (max-width: 768px) {
  .card__photo {
    height: 190px;
    width: 339px;
  }
}

@media screen and (max-width: 500px) {
  .card__photo {
    height: 168px;
    width: 300px;
  }

  .card__title {
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
