.profile {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  margin: 74px 0 123px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.profile__form {
  min-width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__form-label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  color: #FFFFFF;
  min-width: 410px;
  display: flex;
  justify-content: space-between;
}

.profile__form-label:first-of-type {
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
  margin-bottom: 17px;
}

.profile__form-input {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  color: #FFFFFF;
}

.profile__submit-button {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin: 220px 0 16px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  align-self: center;
  cursor: pointer;
}

.profile__submit-button:disabled {
  cursor: not-allowed;
  color: #2f2f2f;
}

.profile__submit-button:hover {
  opacity: .7;
}

.profile__form-error {
  color: #EE3465;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 5px 0 0;
  align-self: flex-end;
}

.profile__form-success {
  color: #FFFFFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 5px 0 0;
  align-self: flex-end;
}

.profile__exit-button {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #EE3465;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.profile__exit-button:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .profile__title {
    margin: 236px 0 96px;
  }

  .profile__submit-button {
    margin-top: 210px;
  }
  .profile__exit-button {
    padding-bottom: 269px;
  }
}

@media screen and (max-width: 500px){
  .profile__form {
    min-width: 260px;
  }

  .profile__form-label {
    min-width: 260px;
  }

  .profile__title {
    margin: 70px 0 80px;
  }

  .profile__submit-button {
    margin-top: 379px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__exit-button {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 40px;
  }
}
