.form {
  min-width: 396px;
  min-height: 413px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
}

.form__input-container {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: #8B8B8B;
  margin-bottom: 10px;
}

.form__input {
  box-sizing: border-box;
  padding: 15px;
  border: none;
  outline: none;
  height: 46px;
  width: 396px;
  border-radius: 8px;
  background-color: #2F2F2F;
  color: #FFFFFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.form__input::placeholder {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: #8B8B8B;
}

.form__input_error {
  color: #EE3465;
}

.form__error {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  color: #EE3465;
  margin: 5px 0 3px;
  opacity: 0;
}

.form__error_visible {
  opacity: 1;
}

.form__button {
  margin: 0;
  min-width: 396px;
  height: 45px;
  background-color: #4285F4;
  border-radius: 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  outline: none;
  padding: 0;
}

.form__button:hover {
  opacity: .7;
  cursor: pointer;
}

.form__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #8B8B8B;
  margin: 16px 0 0;
  align-self: center;
}

.form__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .form {
    padding-bottom: 232px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    min-width: 81%;
    min-height: 497px;
  }

  .form__input {
    width: 100%;
  }

  .form__button {
    min-width: 100%;
    font-size: 12px;
    line-height: 15px;
  }

  .form__text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }

  .form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
