.portfolio {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 1140px;
  width: 89%;
}

.portfolio__title {
  margin: 0 auto 50px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #8B8B8B;
}

.portfolio__list {
  margin: 0 auto 125px;
  list-style: none;
  padding: 0;
}

.portfolio__list-item {
  display: flex;
  border-bottom: 1px solid #424242;
  padding-bottom: 19px;
  margin-bottom: 20px;
  position: relative;
}

.portfolio__list-item:last-child {
  border: none;
}

.portfolio__list-link {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  text-decoration: none;
}

.portfolio__list-link:visited {
  color: #FFFFFF;
}

.portfolio__list-link:hover {
  opacity: .7;
  cursor: pointer;
}

.portfolio__list-arrow {
  background-image: url("../../images/arror.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 29px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .portfolio {
    width: 87%;
  }

  .portfolio__list {
    margin-bottom: 90px;
  }

  .portfolio__list-link {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    width: 91%;
  }

  .portfolio__title {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .portfolio__list {
    margin-bottom: 70px;
  }

  .portfolio__list-link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__list-arrow {
    width: 15px;
    height: 10px;
    background-size: contain;
    top: 10%;
    transform: translateY(0);
  }
}
