.promo {
  position: relative;
  background-color: #073042;
  min-height: 598px;
  font-family: "Inter", "Arial", sans-serif;
}

.promo__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.promo__navigation {
  display: flex;
  justify-content: space-between;
}

.promo__logo {
  width: 38px;
  height: 38px;
  margin: 18px 0 0 70px;
}

.promo__buttons {
  margin: 21px 70px 0 0;
}

.promo__button-register {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 30px;
}

.promo__button-register:hover {
  opacity: .7;
  cursor: pointer;
}

.promo__button-signin {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  height: 32px;
  min-width: 76px;
  border-radius: 3px;
  background-color: #3DDC84;
  border: none;
  outline: none;
  padding: 0;
}

.promo__button-signin:hover {
  opacity: .7;
  cursor: pointer;
}

.promo__title {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  max-width: 730px;
  color: #FFFFFF;
  z-index: 1;
  align-self: center;
  margin: 184px 0 0;
  text-align: center;
}

.promo__big-logo {
  background-image: url("../../images/promo-logo.svg");
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px){
  .promo__logo {
    margin-left: 30px;
  }

  .promo__buttons {
    margin-right: 30px;
  }

}
