.not-found {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: 169px;
  text-align: center;
  margin: 246px 0 5px;
  color: #FFFFFF;
}

.not-found__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 184px;
}

.not-found__back-button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  background-color: transparent;
  border: none;
  outline: none;
}

.not-found__back-button:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .not-found {
    min-height: 1024px;
  }

  .not-found__title {
    margin-top: 408px;
  }
}

@media screen and (max-width: 500px) {
  .not-found {
    min-height: 780px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
    margin: 329px 0 10px;
  }

  .not-found__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
  }

  .not-found__back-button {
    font-size: 12px;
    line-height: 15px;
  }
}
