@import '../../vendor/normalize.css';
@import '../../vendor/Inter/inter.css';

.page {
  background-color: #202020;
  min-height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

