.pages-navigation {
  font-family: "Inter", "Arial", sans-serif;
}

.pages-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  min-width: 212px;
  justify-content: space-between;
  padding: 0;
}

.pages-navigation__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.pages-navigation__link_active {
  font-weight: 500;
}
