.pages-navigation {
  font-family: "Inter", "Arial", sans-serif;
}

.pages-navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  min-width: 212px;
  justify-content: space-between;
  padding: 0;
}

.pages-navigation__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.pages-navigation__link:hover {
  opacity: .7;
  cursor: pointer;
}

.pages-navigation__link_active {
  font-weight: 500;
}

.pages-navigation__link_displayed {
  display: none;
}

@media screen and (max-width: 768px){
  .pages-navigation__link_displayed {
    display: block;
  }

  .pages-navigation__list {
    flex-direction: column;
    margin-top: 159px;
    min-height: 122px;
    justify-content: space-between;
  }

  .pages-navigation__list-item {
    min-width: 90px;
    text-align: center;
  }

  .pages-navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .pages-navigation__link_active {
    padding-bottom: 4px;
    border-bottom: 1px solid #FFFFFF;
  }
}

@media screen and (max-width: 500px) {
  .pages-navigation__list {
    margin-top: 145px;
    min-height: 112px;
  }
}
