.search-form {
  font-family: "Inter", "Arial", sans-serif;
  min-height: 228px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.search-form__container {
  display: flex;
  margin: 80px 0 34px;
}

.search-form__input {
  width: 95%;
  background-color: #2F2F2F;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 16px 0 16px 20px;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.search-form__input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #8B8B8B;
}

.search-form__submit-button {
  background-color: #4285F4;
  border-radius: 8px;
  height: 44px;
  width: 44px;
  border: none;
  outline: none;
  background-image: url("../../images/search-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 768px) {
  .search-form {
    min-height: 240px;
  }

  .search-form__container {
    margin-bottom: 40px;
  }
}
