.saved-movies {
  max-width: 1140px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-movies__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  align-self: start;
}

@media screen and (max-width: 768px){
  .saved-movies {
    width: 93%;
  }
}

@media screen and (max-width: 500px){
  .saved-movies {
    width: 94%;
  }

  .saved-movies__text {
    font-size: 12px;
    line-height: 15px;
  }
}

