.header {
  min-height: 74px;
  font-family: "Inter", "Arial", sans-serif;
}

.header_page_main {
  background-color: #073042;
  align-self: stretch;
}

.header_page_signup {
  min-height: 217px;
  min-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__logo_page_main {
  margin: 18px 0 0 70px;
}

.header__buttons {
  margin: 21px 70px 0 0;
  display: flex;
}

.header__button-register {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 30px;
  text-decoration: none;
}

.header__button-register:hover {
  opacity: .7;
  cursor: pointer;
}

.header__button-signin {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  min-height: 32px;
  min-width: 76px;
  border-radius: 3px;
  background-color: #3DDC84;
  border: none;
  outline: none;
  padding: 0;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.header__button-signin:hover {
  opacity: .7;
  cursor: pointer;
}

.header__account-picture {
  background-image: url("../../images/profile-icon.svg");
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #313131;
  background-position: center;
  background-repeat: no-repeat;
}

.header__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  color: #FFFFFF;
  margin: 35px 0 40px;
}

@media screen and (max-width: 768px){
  .header_page_signup {
    min-height: 379px;
  }

  .header__logo_page_main {
    margin-left: 30px;
  }

  .header__buttons {
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px){
  .header_page_signup {
    min-height: 253px;
    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .header__logo_page_main {
    margin-left: 14px;
  }

  .header__logo_page_signup {
    margin-top: 56px;
  }

  .header__buttons {
    margin: 24px 14px 0 0;
  }

  .header__button-register {
    margin-right: 14px;
    font-size: 10px;
  }

  .header__button-signin {
    min-height: 26px;
    min-width: 54px;
    font-size: 10px;
  }

  .header__title {
    margin-top: 46px;
  }
}

