.header {
  min-height: 74px;
  font-family: "Inter", "Arial", sans-serif;
  position: relative;
}

.header_page_main {
  background-color: #073042;
  align-self: stretch;
}

.header_page_notAuthorized {
  min-height: 217px;
  min-width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header_page_authorized {
  display: flex;
  max-width: 1280px;
  width: 100%;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__logo_page_main {
  margin: 18px 0 0 70px;
}

.header__buttons {
  margin: 21px 70px 0 0;
  display: flex;
}

.header__button-register {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 30px;
  text-decoration: none;
}

.header__button-register:hover {
  opacity: .7;
  cursor: pointer;
}

.header__button-signin {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  min-height: 32px;
  min-width: 76px;
  border-radius: 3px;
  background-color: #3DDC84;
  border: none;
  outline: none;
  padding: 0;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.header__button-signin:hover {
  opacity: .7;
  cursor: pointer;
}

.header__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  color: #FFFFFF;
  margin: 35px 0 40px;
}

.header__menu-container {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 0 0 44px;
  align-items: center;
}

.header__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__icon-container {
  width: 26px;
  height: 26px;
  background-color: #313131;
  border-radius: 50%;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-button {
  display: none;
}

.header__overlay {
  display: none;
}

@media screen and (max-width: 768px){
  .header_page_authorized {
    justify-content: space-between;
  }

  .header_page_notAuthorized {
    min-height: 379px;
  }

  .header__logo_page_main {
    margin-left: 30px;
  }

  .header__buttons {
    margin-right: 30px;
  }

  .header__menu-button {
    display: block;
    border: none;
    background-color: transparent;
    background-image: url("../../images/menu-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 44px;
    margin: 15px 30px 0 0;
    padding: 0;
  }

  .header__menu-button:focus {
    outline: none;
  }

  .header__menu-button:hover {
    opacity: .7;
    cursor: pointer;
  }

  .header__menu-container {
    display: none;
    width: 68%;
    height: 1024px;
    background-color: #202020;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 2;
  }

  .header__menu-container_opened {
    display: flex;
  }

  .header__overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1024px;
    background-color: #000000;
    opacity: .3;
  }

  .header__link {
    margin-bottom: 90px;
  }

  .header__close-button {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    background-image: url("../../images/close-button.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__close-button:hover {
    opacity: .7%;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px){
  .header_page_notAuthorized {
    min-height: 253px;
    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .header__logo_page_main {
    margin-left: 14px;
  }

  .header__logo_page_notAuthorized {
    margin-top: 56px;
  }

  .header__buttons {
    margin: 24px 14px 0 0;
  }

  .header__button-register {
    margin-right: 14px;
    font-size: 10px;
  }

  .header__button-signin {
    min-height: 26px;
    min-width: 54px;
    font-size: 10px;
  }

  .header__title {
    margin-top: 46px;
  }

  .header__menu-button {
    margin: 16px 15px 0 0;
    height: 43px;
    width: 35px;
  }

  .header__menu-container {
    width: 100%;
    height: 780px;
  }

  .header__overlay {
    height: 780px;
  }

  .header__close-button {
    top: 12px;
    right: 12px;
}

  .header__link {
    margin-bottom: 49px;
  }
}

