.header {
  min-height: 74px;
  font-family: "Inter", "Arial", sans-serif;
}

.header_page_main {
  background-color: #073042;
  align-self: stretch;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
  margin: 18px 0 0 70px;
}

.header__buttons {
  margin: 21px 70px 0 0;
}

.header__button-register {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin-right: 30px;
}

.header__button-register:hover {
  opacity: .7;
  cursor: pointer;
}

.header__button-signin {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  min-height: 32px;
  min-width: 76px;
  border-radius: 3px;
  background-color: #3DDC84;
  border: none;
  outline: none;
  padding: 0;
}

.header__button-signin:hover {
  opacity: .7;
  cursor: pointer;
}




.header__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #FFFFFF;
}

.header__account-picture {
  background-image: url("../../images/profile-icon.svg");
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #313131;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px){

  .header__logo {
    margin-left: 30px;
  }

  .header__buttons {
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px){

  .header__logo {
    margin-left: 14px;
  }

  .header__buttons {
    margin: 24px 14px 0 0;
  }

  .header__button-register {
    margin-right: 14px;
    font-size: 10px;
  }

  .header__button-signin {
    min-height: 26px;
    min-width: 54px;
    font-size: 10px;
  }
}

