.filter {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  align-items: center;
  padding-bottom: 39px;
  border-bottom: 1px solid #424242;
}

.filter__button {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #424242;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  position: relative;
  transition-duration: 300ms;
}

.filter__button::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  top: 2px;
  right: 18px;
  transition-duration: 300ms;
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.filter__button_clicked {
  background-color: #3DDC84;
}

.filter__button_clicked::after {
  opacity: .9;
  background: #FFFFFF;
  left: 18px;
}

.filter__checkbox {
  opacity: 0;
  position: absolute;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
}

.filter__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0 auto 0 12px;
  color: #FFFFFF;
}

@media screen and (max-width: 500px) {
  .filter__text {
    font-size: 11px;
  }
}

