.header__menu-container {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 0 0 44px;
  align-items: center;
}

.header__link {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header__icon-container {
  width: 26px;
  height: 26px;
  background-color: #313131;
  border-radius: 50%;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-button {
  display: none;
}

.header__overlay {
  display: none;
}

@media screen and (max-width: 768px){
  .header__menu-button {
    display: block;
    border: none;
    background-color: transparent;
    background-image: url("../../images/menu-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 44px;
    margin: 15px 30px 0 0;
    padding: 0;
  }

  .header__menu-button:focus {
    outline: none;
  }

  .header__menu-button:hover {
    opacity: .7;
    cursor: pointer;
  }

  .header__menu-container {
    display: none;
    width: 68%;
    height: 1024px;
    background-color: #202020;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 2;
  }

  .header__menu-container_opened {
    display: flex;
  }

  .header__overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1024px;
    background-color: #000000;
    opacity: .3;
    z-index: 1;
  }

  .header__link {
    margin-bottom: 90px;
  }

  .header__close-button {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    background-image: url("../../images/close-button.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__close-button:hover {
    opacity: .7%;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px){
  .header__menu-button {
    margin: 16px 15px 0 0;
    height: 43px;
    width: 35px;
  }

  .header__menu-container {
    width: 100%;
    height: 780px;
  }

  .header__overlay {
    height: 780px;
  }

  .header__close-button {
    top: 12px;
    right: 12px;
  }

  .header__link {
    margin-bottom: 49px;
  }
}

