.techs {
  background-color: #272727;
  font-family: "Inter", "Arial", sans-serif;
  align-self: stretch;
}

.techs__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 625px;
  align-items: center;
}

.techs__title {
  margin: 0 auto;
  width: 89%;
  border-bottom: 1px solid #DADADA;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #FFFFFF;
  padding: 100px 0 23px;
  letter-spacing: -0.04em;
}

.techs__text-title {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 90px 0 26px;
}

.techs__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  max-width: 460px;
  margin: 0;
}

.techs__list {
  display: flex;
  list-style: none;
  margin: 100px 0 0 8px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.techs__list-item {
  width: 90px;
  min-height: 60px;
  background-color: #303030;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .techs__container {
    min-height: 567px;
  }

  .techs__title {
    padding-top: 90px;
    width: 87%;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__text-title {
    margin: 80px 0 22px;
  }

  .techs__list {
    margin-top: 86px;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    min-height: 57px;
  }
}

@media screen and (max-width: 665px) {
  .techs__list-item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .techs {
    background-color: transparent;
  }

  .techs__container {
    min-height: 651px;
  }

  .techs__title {
    width: 89%;
    border-color: #000000;
    font-size: 18px;
    line-height: 22px;
    padding: 70px 0 28px;
  }

  .techs__text-title {
    font-size: 30px;
    line-height: 36px;
    margin: 60px 0 24px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
  }

  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 50px auto 0;
    gap: 10px;
  }

  .techs__list-item {
    margin: 0;
  }
}
