.about-me {
  max-width: 1140px;
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  position: relative;
}

.about-me__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 110px 0 23px;
  border-bottom: 1px solid #DADADA;
  color: #FFFFFF;
  margin: 0 auto;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 12px;
  margin: 66px 0 0;
  position: absolute;
  right: 0;
}

.about-me__table {
  display: flex;
  flex-direction: column;
  margin: 66px 0 100px;
  max-width: 600px;
}

.about-me__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 0 0 18px;
}

.about-me__position {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0 0 26px;
}

.about-me__description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 0 99px;
}

.about-me__links-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 20px;
}

.about-me__link:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .about-me {
    width: 87%;
  }

  .about-me__title {
    padding-top: 90px;
  }

  .about-me__photo {
    height: 307px;
    width: 255px;
  }

  .about-me__table {
    margin-bottom: 90px;
    max-width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about-me__position {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 87px;
  }
 }

@media screen and (max-width: 500px) {
  .about-me {
    width: 91%;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding: 70px 0 28px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin: 60px auto 40px;
    position: relative;
  }

  .about-me__table {
    margin: 0 0 69px;
    max-width: 292px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 20px;
  }

  .about-me__position {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 20px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px;
  }

  .about-me__link {
    margin-right: 26px;
  }
}
