.navigation-container {
  background-color: #272727;
  font-family: "Inter", "Arial", sans-serif;
}

.navigation {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
}

.navigation__list{
  min-width: 200px;
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
}

.navigation__list-item {
  margin-right: 40px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: underline;
}

.navigation__list-item:hover {
  opacity: .7;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .navigation__list-item{
    font-size: 11px;
    margin-right: 24px;
  }
}

